@use "../variabels.scss";
.dropdown{
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 30rem;
    transition: 0.4s;
    flex-direction: column;
    &__label{
        font-family: variabels.$poppins;
        color: variabels.$movieHeading;
        font-size: 0.75rem;
    }
    &__dropdownsDiv{
        display: flex;
       
        flex-direction: column;
        z-index: 1;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.749);
        width: 100%;
        margin-top: 3.7rem;
         border-radius: 10px;
         animation-name: example;
      
  animation-duration: 1s;
    }
    &__input{
       
    display: flex;
    padding: 0 1.5rem;
    align-items: center;
    font-size: 0.75rem;
    font-family: variabels.$poppins;
    border-radius: 10px;
    color: variabels.$factBoxesGrey;
    width: 100%;
   
    margin: 0.5rem auto;
    height: 2.5rem;
    border: 1px solid grey;
    background-color: transparent;
    }

    
    .icon{
        font-size: 1rem;
       margin-left: auto;
       z-index: -10;
       transition: 0.4s;
       
    }

    &__dropdowns{
       
        animation-name: example;
      
  animation-duration: 1s;
        transition: 0.2s;
        
         font-size: 0.75rem;
    font-family: variabels.$poppins;
    border-radius: 10px;
    color: variabels.$factBoxesGrey;
    width: 90%;
    margin: 1rem auto;
    height: 2.5rem;
    border: 1px solid grey;
    background-color: variabels.$backgroundBlue;
    &:hover{
       color: white;
       transform: scale(1.1);
    }
    }
}

//dette er classen til når den er open 
.dropdown__input--open .icon{
    transform: rotate(-180deg);
    
}
.dropdown__input--open{
    color: white;
    background-color: variabels.$backgroundBlue;
     z-index: 2;
}
.dropdown__input--open{
    color: white;
    background-color: variabels.$backgroundBlue;
    
}
.dropdown__input--open .icon{
    z-index: -1;
    pointer-events: none;
  
    
}
.dropdown__dropdownsDiv--open{
    padding: 1rem 0.5rem;
}

@keyframes example {
  from {opacity:  0;}
  to {opacity: 1;}
}