@use "../variabels.scss";
.popUp{
    background-color: variabels.$lightBlue;
    text-align: center;
    color: variabels.$movieHeading;
    position: fixed;
    animation-name: example;
  animation-duration: 1s;
    z-index: 10;
    left: 0;
    width: 100vw;
    bottom: 0rem;
    padding-bottom: 10rem;
     border-top-left-radius: 4rem;
      border-top-right-radius: 4rem;
    font-family: variabels.$poppins;
    padding-top: 4.6rem;
    height: 42vh;

    &__overLay{
        top: 0;
        background-color: rgba(0, 0, 0, 0.388);
        height: 100vh;
        left: 0%;
        position: absolute;
        width: 100vw;
    }
    &__heading{
        padding-bottom: 2rem;
    }
    &__text{
        padding-bottom: 2rem;
    }
    &__link{
        
        margin-top: 1rem;
        border-radius: 0.8rem;
        width: 20rem;
        margin: 1rem auto;
        padding: 1rem;
        margin-bottom: 10rem;
        display: block;
        color: variabels.$movieHeading;
        text-decoration: none;
        transition: 0.4s;
        background-color: variabels.$backgroundBlue;
        border: 1px solid transparent;
        &:hover{
            background-color: variabels.$red;
            border: 1px solid variabels.$backgroundBlue;
        }
       
    }
    &__logo{
        position:absolute ;
        top: -3.5rem;
        left: 46vw;
         
    }
}
@keyframes example {
  from {bottom: -20em;}
  to {bottom: 0rem;}
}

/* The element to apply the animation to */
