@use "./variabels.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background-color: variabels.$backgroundBlue;
    padding-bottom: 10rem;
}
#root{
    max-width: 90%;
    margin: 0 auto;
}
.input--fail{
    background-color: red;
}